# Demo

In [1]:
import pandas as pd
import numpy as np


fut11 = pd.read_csv('fut_lag1_return_1_result.csv')
fut11['scheme'] = 'fut_lag1_return_1'

fut15 = pd.read_csv('fut_lag1_return_5_result.csv')
fut15['scheme'] = 'fut_lag1_return_5'

fut110 = pd.read_csv('fut_lag1_return_10_result.csv')
fut110['scheme'] = 'fut_lag1_return_10'

fut120 = pd.read_csv('fut_lag1_return_20_result.csv')
fut120['scheme'] = 'fut_lag1_return_20'

fut21 = pd.read_csv('fut_lag2_return_1_result.csv')
fut21['scheme'] = 'fut_lag2_return_1'

fut25 = pd.read_csv('fut_lag2_return_5_result.csv')
fut25['scheme'] = 'fut_lag2_return_5'

fut210 = pd.read_csv('fut_lag2_return_10_result.csv')
fut210['scheme'] = 'fut_lag2_return_10'

fut220 = pd.read_csv('fut_lag2_return_20_result.csv')
fut220['scheme'] = 'fut_lag2_return_20'

In [2]:
col = ['stock','Ensemble_directional_accuracy', 'Linear_directional_accuracy','Tree_directional_accuracy']
fut11_clean = fut11[fut11.sampleSize > 800][col]
fut15_clean = fut15[fut15.sampleSize > 800][col]
fut110_clean = fut110[fut110.sampleSize > 800][col]
fut120_clean = fut120[fut120.sampleSize > 800][col]

fut21_clean = fut21[fut21.sampleSize > 800][col]
fut25_clean = fut25[fut25.sampleSize > 800][col]
fut210_clean = fut210[fut210.sampleSize > 800][col]
fut220_clean = fut220[fut220.sampleSize > 800][col]

In [3]:
fut11_clean.sort_values('Ensemble_directional_accuracy', ascending = False).head()[['stock','Ensemble_directional_accuracy']]

      stock  Ensemble_directional_accuracy
1  601398SH                      52.094241
2  601169SH                      52.042161
0  601288SH                      51.867220
3  000001SZ                      49.816401
5  000776SZ                      47.205707

In [4]:
fut11_clean.sort_values('Linear_directional_accuracy', ascending = False).head()[['stock','Linear_directional_accuracy']]

      stock  Linear_directional_accuracy
1  601398SH                    52.849741
5  000776SZ                    51.932139
2  601169SH                    51.829268
0  601288SH                    51.384275
3  000001SZ                    50.048216

In [5]:
fut11_clean.sort_values('Tree_directional_accuracy', ascending = False).head()[['stock','Linear_directional_accuracy']]

      stock  Linear_directional_accuracy
5  000776SZ                    51.932139
3  000001SZ                    50.048216
1  601398SH                    52.849741
0  601288SH                    51.384275
2  601169SH                    51.829268

In [6]:
fut15_clean.sort_values('Ensemble_directional_accuracy', ascending = False).head()[['stock','Ensemble_directional_accuracy']]

       stock  Ensemble_directional_accuracy
0   601318SH                      53.096179
6   601398SH                      51.911221
2   600000SH                      51.500000
4   601288SH                      51.378446
11  000001SZ                      50.721154

In [7]:
fut15_clean.sort_values('Linear_directional_accuracy', ascending = False).head()[['stock','Linear_directional_accuracy']]

       stock  Linear_directional_accuracy
2   600000SH                    55.436893
3   601998SH                    54.250239
13  601818SH                    53.543307
12  601628SH                    53.451883
15  601328SH                    53.423337

In [8]:
fut15_clean.sort_values('Tree_directional_accuracy', ascending = False).head()[['stock','Tree_directional_accuracy']]

       stock  Tree_directional_accuracy
19  601166SH                  56.562795
8   601336SH                  56.144068
2   600000SH                  55.436893
3   601998SH                  54.230769
0   601318SH                  52.336449

In [9]:
fut110_clean.sort_values('Ensemble_directional_accuracy', ascending = False).head()[['stock','Ensemble_directional_accuracy']]

       stock  Ensemble_directional_accuracy
14  000002SZ                      56.603774
15  600036SH                      54.993983
0   601318SH                      54.940711
8   601336SH                      53.648649
11  000001SZ                      52.983294

In [10]:
fut110_clean.sort_values('Linear_directional_accuracy', ascending = False).head()[['stock','Linear_directional_accuracy']]

       stock  Linear_directional_accuracy
14  000002SZ                    61.176471
12  601628SH                    56.652807
20  601166SH                    56.444026
8   601336SH                    56.144068
11  000001SZ                    55.722326

In [11]:
fut110_clean.sort_values('Tree_directional_accuracy', ascending = False).head()[['stock','Tree_directional_accuracy']]

       stock  Tree_directional_accuracy
11  000001SZ                  56.285178
20  601166SH                  54.938852
13  601818SH                  53.861004
18  600016SH                  53.107345
9   600837SH                  52.481618

In [12]:
fut120_clean.sort_values('Ensemble_directional_accuracy', ascending = False).head()[['stock','Ensemble_directional_accuracy']]

       stock  Ensemble_directional_accuracy
0   601318SH                      58.893281
14  000002SZ                      58.003766
13  601818SH                      55.407047
21  601601SH                      54.927727
15  600036SH                      52.631579

In [13]:
fut120_clean.sort_values('Linear_directional_accuracy', ascending = False).head()[['stock','Linear_directional_accuracy']]

       stock  Linear_directional_accuracy
20  601166SH                    62.956034
14  000002SZ                    57.058824
0   601318SH                    54.724818
17  000776SZ                    53.081877
7   601169SH                    52.918288

In [14]:
fut120_clean.sort_values('Tree_directional_accuracy', ascending = False).head()[['stock','Tree_directional_accuracy']]

       stock  Tree_directional_accuracy
13  601818SH                  60.724500
18  600016SH                  58.458647
15  600036SH                  57.504690
11  000001SZ                  56.127222
5   600030SH                  53.038674

In [15]:
fut21_clean.sort_values('Ensemble_directional_accuracy', ascending = False).head()[['stock','Ensemble_directional_accuracy']]

      stock  Ensemble_directional_accuracy
0  601336SH                      50.339213
1  000001SZ                      50.061050
3  601166SH                      47.671569
2  000776SZ                      47.086801

In [16]:
fut21_clean.sort_values('Linear_directional_accuracy', ascending = False).head()[['stock','Linear_directional_accuracy']]

      stock  Linear_directional_accuracy
2  000776SZ                    52.968897
0  601336SH                    52.016985
1  000001SZ                    50.818094
3  601166SH                    49.712092

In [17]:
fut21_clean.sort_values('Tree_directional_accuracy', ascending = False).head()[['stock','Tree_directional_accuracy']]

      stock  Tree_directional_accuracy
2  000776SZ                  52.968897
0  601336SH                  52.922423
1  000001SZ                  50.818094
3  601166SH                  49.712092

In [18]:
fut25_clean.sort_values('Ensemble_directional_accuracy', ascending = False).head()[['stock','Ensemble_directional_accuracy']]

       stock  Ensemble_directional_accuracy
12  000002SZ                      54.372624
0   601318SH                      53.552632
1   601939SH                      53.505535
2   600000SH                      51.496259
17  601166SH                      49.578821

In [19]:
fut25_clean.sort_values('Linear_directional_accuracy', ascending = False).head()[['stock','Linear_directional_accuracy']]

       stock  Linear_directional_accuracy
2   600000SH                    55.620155
11  601818SH                    55.053974
12  000002SZ                    55.029586
3   601998SH                    53.270142
4   600030SH                    52.665441

In [20]:
fut25_clean.sort_values('Tree_directional_accuracy', ascending = False).head()[['stock','Tree_directional_accuracy']]

       stock  Tree_directional_accuracy
2   600000SH                  55.620155
17  601166SH                  55.094340
4   600030SH                  53.033088
0   601318SH                  52.904564
13  601328SH                  52.367150

In [21]:
fut210_clean.sort_values('Ensemble_directional_accuracy', ascending = False).head()[['stock','Ensemble_directional_accuracy']]

       stock  Ensemble_directional_accuracy
0   601318SH                      55.277045
14  000002SZ                      55.198488
21  601601SH                      55.145119
15  600036SH                      54.512635
8   601336SH                      54.324324

In [22]:
fut210_clean.sort_values('Linear_directional_accuracy', ascending = False).head()[['stock','Linear_directional_accuracy']]

       stock  Linear_directional_accuracy
14  000002SZ                    58.235294
20  601166SH                    57.008467
18  600016SH                    55.283019
21  601601SH                    54.422477
0   601318SH                    54.054054

In [23]:
fut210_clean.sort_values('Ensemble_directional_accuracy', ascending = False).head()[['stock','Ensemble_directional_accuracy']]

       stock  Ensemble_directional_accuracy
0   601318SH                      55.277045
14  000002SZ                      55.198488
21  601601SH                      55.145119
15  600036SH                      54.512635
8   601336SH                      54.324324

In [24]:
fut220_clean.sort_values('Linear_directional_accuracy', ascending = False).head()[['stock','Linear_directional_accuracy']]

       stock  Linear_directional_accuracy
20  601166SH                    62.581852
18  600016SH                    54.878049
14  000002SZ                    54.838710
9   600837SH                    52.849265
0   601318SH                    52.642487

In [25]:
fut220_clean.sort_values('Tree_directional_accuracy', ascending = False).head()[['stock','Tree_directional_accuracy']]

       stock  Tree_directional_accuracy
13  601818SH                  60.533842
11  000001SZ                  58.185220
18  600016SH                  55.628518
5   600030SH                  55.197792
17  000776SZ                  55.013799

In [26]:
[i for i in fut210_clean.sort_values('Tree_directional_accuracy', ascending = False).stock.head()]

['601166SH', '601818SH', '000001SZ', '601998SH', '600016SH']