In [1]:
import numpy as np
from multiprocessing import Pool
from snownlp import SnowNLP
import pandas as pd
from time import strptime
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
raw_df = pd.read_csv('news_sent_kw_tag.csv')
raw_df.head()

,Unnamed: 0,date,sentiment,positive_prob,keywords,lv2_tag,lv1_tag
0,0,2013-01-01,2,0.777301,"['采购', '指数', '态势', '回升', '经理', '月份', '制造业', '经...",宏观经济,财经
1,1,2013-01-01,2,0.994360,"['焰火', '表演', '人们', '活动', '烟火', '伦敦', '世界', '观众...",音乐,音乐
2,2,2013-01-01,1,0.471495,"['原油', '纪录', '生产', '累计', '保持', '天然气']",石油,财经
3,3,2013-01-01,2,0.988490,"['设计', '公众', '事情', '社会', '城市', '民生', '电视', '看看...",社会,社会
4,4,2013-01-01,2,0.975345,"['修改', '身份证', '证据', '实施', '诉讼', '贷款', '规定', '利...",法制,社会

In [3]:
raw_df = raw_df.drop('Unnamed: 0', axis = 1)
raw_df.head()

,date,sentiment,positive_prob,keywords,lv2_tag,lv1_tag
0,2013-01-01,2,0.777301,"['采购', '指数', '态势', '回升', '经理', '月份', '制造业', '经...",宏观经济,财经
1,2013-01-01,2,0.994360,"['焰火', '表演', '人们', '活动', '烟火', '伦敦', '世界', '观众...",音乐,音乐
2,2013-01-01,1,0.471495,"['原油', '纪录', '生产', '累计', '保持', '天然气']",石油,财经
3,2013-01-01,2,0.988490,"['设计', '公众', '事情', '社会', '城市', '民生', '电视', '看看...",社会,社会
4,2013-01-01,2,0.975345,"['修改', '身份证', '证据', '实施', '诉讼', '贷款', '规定', '利...",法制,社会

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [5]:
df1 = raw_df[['date', 'sentiment', 'keywords', 'lv2_tag','lv1_tag']]

In [6]:
df1.head()

,date,sentiment,keywords,lv2_tag,lv1_tag
0,2013-01-01,2,"['采购', '指数', '态势', '回升', '经理', '月份', '制造业', '经...",宏观经济,财经
1,2013-01-01,2,"['焰火', '表演', '人们', '活动', '烟火', '伦敦', '世界', '观众...",音乐,音乐
2,2013-01-01,1,"['原油', '纪录', '生产', '累计', '保持', '天然气']",石油,财经
3,2013-01-01,2,"['设计', '公众', '事情', '社会', '城市', '民生', '电视', '看看...",社会,社会
4,2013-01-01,2,"['修改', '身份证', '证据', '实施', '诉讼', '贷款', '规定', '利...",法制,社会

In [7]:
df1['date'] = df1['date'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d"))

/home/Rex/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [8]:
df1.head()

,date,sentiment,keywords,lv2_tag,lv1_tag
0,2013-01-01,2,"['采购', '指数', '态势', '回升', '经理', '月份', '制造业', '经...",宏观经济,财经
1,2013-01-01,2,"['焰火', '表演', '人们', '活动', '烟火', '伦敦', '世界', '观众...",音乐,音乐
2,2013-01-01,1,"['原油', '纪录', '生产', '累计', '保持', '天然气']",石油,财经
3,2013-01-01,2,"['设计', '公众', '事情', '社会', '城市', '民生', '电视', '看看...",社会,社会
4,2013-01-01,2,"['修改', '身份证', '证据', '实施', '诉讼', '贷款', '规定', '利...",法制,社会

In [9]:
df1.date.iloc[0]

Timestamp('2013-01-01 00:00:00')

In [11]:
df1['dayofweek']= df1.date.dt.dayofweek
df1['quarter'] = df1.date.dt.quarter
df1['month'] = df1.date.dt.month
df1.head()

,date,sentiment,keywords,lv2_tag,lv1_tag,dayofweek,quarter,month
0,2013-01-01,2,"['采购', '指数', '态势', '回升', '经理', '月份', '制造业', '经...",宏观经济,财经,1,1,1
1,2013-01-01,2,"['焰火', '表演', '人们', '活动', '烟火', '伦敦', '世界', '观众...",音乐,音乐,1,1,1
2,2013-01-01,1,"['原油', '纪录', '生产', '累计', '保持', '天然气']",石油,财经,1,1,1
3,2013-01-01,2,"['设计', '公众', '事情', '社会', '城市', '民生', '电视', '看看...",社会,社会,1,1,1
4,2013-01-01,2,"['修改', '身份证', '证据', '实施', '诉讼', '贷款', '规定', '利...",法制,社会,1,1,1

In [12]:
type(df1.sentiment[0])

numpy.int64

In [13]:
sentimentMap = {2: "pos", 1: 'neu', 0: 'neg'}
sentimentMap

{2: 'pos', 1: 'neu', 0: 'neg'}

In [14]:
df1['sentiment'] = df1['sentiment'].map(sentimentMap)
df1.head()

,date,sentiment,keywords,lv2_tag,lv1_tag,dayofweek,quarter,month
0,2013-01-01,pos,"['采购', '指数', '态势', '回升', '经理', '月份', '制造业', '经...",宏观经济,财经,1,1,1
1,2013-01-01,pos,"['焰火', '表演', '人们', '活动', '烟火', '伦敦', '世界', '观众...",音乐,音乐,1,1,1
2,2013-01-01,neu,"['原油', '纪录', '生产', '累计', '保持', '天然气']",石油,财经,1,1,1
3,2013-01-01,pos,"['设计', '公众', '事情', '社会', '城市', '民生', '电视', '看看...",社会,社会,1,1,1
4,2013-01-01,pos,"['修改', '身份证', '证据', '实施', '诉讼', '贷款', '规定', '利...",法制,社会,1,1,1

In [19]:
df1['sentiment'].describe()

count     32345
unique        3
top         pos
freq      27124
Name: sentiment, dtype: object

In [21]:
pd.get_dummies(df1[['date','sentiment','lv2_tag', 'lv1_tag', 'dayofweek', 'quarter', 'month']], drop_first=True)

,date,dayofweek,quarter,month,sentiment_neu,sentiment_pos,lv2_tag_NBA,lv2_tag_三农,lv2_tag_中医,lv2_tag_中国军情,...,lv1_tag_星座运势,lv1_tag_母婴育儿,lv1_tag_汽车,lv1_tag_游戏,lv1_tag_社会,lv1_tag_科技,lv1_tag_综合,lv1_tag_美食,lv1_tag_财经,lv1_tag_音乐
0,2013-01-01,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2013-01-01,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2013-01-01,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2013-01-01,1,1,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,2013-01-01,1,1,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
5,2013-01-01,1,1,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,2013-01-01,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2013-01-01,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2013-01-01,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2013-01-01,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10,2013-01-01,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2013-01-01,1,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2013-01-02,2,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13,2013-01-02,2,1,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
14,2013-01-02,2,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15,2013-01-02,2,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
16,2013-01-02,2,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,2013-01-02,2,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2013-01-02,2,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2013-01-02,2,1,1,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
20,2013-01-02,2,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,2013-01-02,2,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
22,2013-01-02,2,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,2013-01-02,2,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
24,2013-01-02,2,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,2013-01-02,2,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,2013-01-02,2,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,2013-01-03,3,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
28,2013-01-03,3,1,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
29,2013-01-03,3,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32315,2018-12-29,5,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32316,2018-12-29,5,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32317,2018-12-29,5,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32318,2018-12-30,6,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32319,2018-12-30,6,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32320,2018-12-30,6,4,12,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
32321,2018-12-30,6,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32322,2018-12-30,6,4,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32323,2018-12-30,6,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32324,2018-12-30,6,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32325,2018-12-30,6,4,12,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
32326,2018-12-30,6,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32327,2018-12-30,6,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32328,2018-12-30,6,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32329,2018-12-30,6,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32330,2018-12-30,6,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32331,2018-12-30,6,4,12,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
32332,2018-12-30,6,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32333,2018-12-31,0,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32334,2018-12-31,0,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32335,2018-12-31,0,4,12,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
32336,2018-12-31,0,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32337,2018-12-31,0,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32338,2018-12-31,0,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32339,2018-12-31,0,4,12,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
32340,2018-12-31,0,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32341,2018-12-31,0,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32342,2018-12-31,0,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32343,2018-12-31,0,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32344,2018-12-31,0,4,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
df1['dayofweek'] = df1['dayofweek'].astype('category',copy=False)
df1['dayofweek'].dtype

CategoricalDtype(categories=[0, 1, 2, 3, 4, 5, 6], ordered=False)

In [32]:
df1['quarter'] = df1['quarter'].astype('category',copy=False)
df1['month'] = df1['month'].astype('category',copy=False)

In [37]:
dummy_test = pd.get_dummies(df1[['date','sentiment','lv2_tag', 'lv1_tag', 'dayofweek', 'quarter', 'month']], drop_first=True)

In [66]:
drop_cols = dummy_test.columns[(dummy_test == 0).sum() >  0.95 * dummy_test.shape[0]]

In [67]:
drop_cols

Index(['sentiment_neu', 'lv2_tag_NBA', 'lv2_tag_三农', 'lv2_tag_中医',
       'lv2_tag_中国军情', 'lv2_tag_中国历史', 'lv2_tag_中国男足', 'lv2_tag_中国足球',
       'lv2_tag_中国近代史', 'lv2_tag_中药',
       ...
       'lv1_tag_旅游', 'lv1_tag_时尚', 'lv1_tag_星座运势', 'lv1_tag_母婴育儿',
       'lv1_tag_汽车', 'lv1_tag_游戏', 'lv1_tag_科技', 'lv1_tag_综合', 'lv1_tag_美食',
       'lv1_tag_音乐'],
      dtype='object', length=177)

In [68]:
dummy_test = dummy_test.drop(drop_cols, axis = 1)

In [69]:
dummy_test.columns

Index(['date', 'sentiment_pos', 'lv2_tag_国际', 'lv2_tag_时事', 'lv2_tag_时政',
       'lv2_tag_社会', 'lv1_tag_国际', 'lv1_tag_时事', 'lv1_tag_社会', 'lv1_tag_财经',
       'dayofweek_1', 'dayofweek_2', 'dayofweek_3', 'dayofweek_4',
       'dayofweek_5', 'dayofweek_6', 'quarter_2', 'quarter_3', 'quarter_4',
       'month_2', 'month_3', 'month_4', 'month_5', 'month_6', 'month_7',
       'month_8', 'month_9', 'month_10', 'month_11', 'month_12'],
      dtype='object')

In [70]:
dummy_test = dummy_test.drop(['lv2_tag_国际', 'lv2_tag_时事', 'lv2_tag_时政','lv2_tag_社会',], axis = 1)
dummy_test.columns

Index(['date', 'sentiment_pos', 'lv1_tag_国际', 'lv1_tag_时事', 'lv1_tag_社会',
       'lv1_tag_财经', 'dayofweek_1', 'dayofweek_2', 'dayofweek_3',
       'dayofweek_4', 'dayofweek_5', 'dayofweek_6', 'quarter_2', 'quarter_3',
       'quarter_4', 'month_2', 'month_3', 'month_4', 'month_5', 'month_6',
       'month_7', 'month_8', 'month_9', 'month_10', 'month_11', 'month_12'],
      dtype='object')

In [72]:
dummy_test.to_csv('dummy_matrix.csv')

In [73]:
stock1 = pd.read_csv('stock/000001SZ.csv')

In [74]:
stock1.head()

,Unnamed: 0,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,0,000001.SZ,20181228,9.31,9.46,9.31,9.38,9.28,0.10,1.0776,576604.00,541571.004
1,1,000001.SZ,20181227,9.45,9.49,9.28,9.28,9.30,-0.02,-0.2151,624593.27,586343.755
2,2,000001.SZ,20181226,9.35,9.42,9.27,9.30,9.34,-0.04,-0.4283,421140.60,393215.140
3,3,000001.SZ,20181225,9.29,9.43,9.21,9.34,9.42,-0.08,-0.8493,586615.45,545235.607
4,4,000001.SZ,20181224,9.40,9.45,9.31,9.42,9.45,-0.03,-0.3175,509117.67,477186.904

In [75]:
stock1 = stock1[['ts_code','trade_date','close']]
stock1.head()

     ts_code  trade_date  close
0  000001.SZ    20181228   9.38
1  000001.SZ    20181227   9.28
2  000001.SZ    20181226   9.30
3  000001.SZ    20181225   9.34
4  000001.SZ    20181224   9.42

In [78]:
news_keywords = df1[['date','keywords']]

In [79]:
stock_keywords = pd.read_csv('stock_keywords.csv')
stock_keywords.head()

,Unnamed: 0,code,name,description,keywords
0,0,000001SZ,平安银行,(一)吸收公众存款;(二)发放短期、中期和长期贷款;(三)办理国内外结算;(四)办理票据承兑...,"['平安银行', '存款', '贷款', '结算', '票据', '承兑', '贴现', '..."
1,1,000002SZ,万科,房地产开发;兴办实业(具体项目另行申报);国内商业、物资供销业(不含专营、专控、专卖商品);...,"['万科', '房地产', '开发', '实业', '商业', '供销业', '进出口', ..."
2,2,000333SZ,美的集团,生产经营家用电器、电机及其零部件;中央空调、采暖设备、通风设备、热泵设备、照明设备、燃气设备...,"['美的集团', '家用电器', '电器', '电机', '中央空调', '空调', '采暖..."
3,3,000725SZ,京东方,制造电子产品、通信设备、机械电器设备、五金交电、建筑材料、纸制品、工业气体、工具模具、蒸汽热...,"['京东方', '电子产品', '通信设备', '机械电器', '五金', '交电', '五..."
4,4,000776SZ,广发证券,证券经纪;证券投资咨询;与证券交易、证券投资活动有关的财务顾问;证券承销与保荐;证券自营;证...,"['广发证券', '证券', '证券经纪', '证券投资', '证券', '投资', '证券..."

In [85]:
keyword1 = stock_keywords['keywords'].iloc[1]
keyword1

['万科', '房地产', '开发', '实业', '商业', '供销业', '进出口', '业务', '进出口业务']

In [88]:
news_keywords['relevant'] = news_keywords['keywords'].apply(lambda x: any([word in x for word in keyword1]))

/home/Rex/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [136]:
test = dummy_test.iloc[news_keywords[news_keywords['relevant']].index]

In [139]:
test.head()

,date,sentiment_pos,lv1_tag_国际,lv1_tag_时事,lv1_tag_社会,lv1_tag_财经,dayofweek_1,dayofweek_2,dayofweek_3,dayofweek_4,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
22,2013-01-02,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
82,2013-01-06,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,2013-01-07,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
148,2013-01-10,1,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
173,2013-01-11,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [140]:
groupbyNews = test.groupby('date').agg({'lv1_tag_国际': 'sum',
 'lv1_tag_时事': 'sum',
 'lv1_tag_社会': 'sum',
 'lv1_tag_财经': 'sum',
 'sentiment_pos': 'mean',
 'dayofweek_1': 'mean',
 'dayofweek_2': 'mean',
 'dayofweek_3': 'mean',
 'dayofweek_4': 'mean',
 'dayofweek_5': 'mean',
 'dayofweek_6': 'mean',
 'quarter_2': 'mean',
 'quarter_3': 'mean',
 'quarter_4': 'mean',
 'month_2': 'mean',
 'month_3': 'mean',
 'month_4': 'mean',
 'month_5': 'mean',
 'month_6': 'mean',
 'month_7': 'mean',
 'month_8': 'mean',
 'month_9': 'mean',
 'month_10': 'mean',
 'month_11': 'mean',
 'month_12': 'mean',})

In [143]:
stock1['trade_date'] =  pd.to_datetime(stock1['trade_date'], format='%Y%m%d')

In [148]:
stockTest = stock1[['trade_date','close']].set_index('trade_date')

In [150]:
groupbyNews.join(stockTest, how = 'inner')

,lv1_tag_国际,lv1_tag_时事,lv1_tag_社会,lv1_tag_财经,sentiment_pos,dayofweek_1,dayofweek_2,dayofweek_3,dayofweek_4,dayofweek_5,...,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12,close
2013-01-07,0,0,1,0,0.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16.30
2013-01-10,0,1,0,0,1.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,15.87
2013-01-11,0,0,0,1,0.000000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,15.54
2013-01-16,0,0,0,1,1.000000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,17.82
2013-01-18,0,1,0,0,1.000000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,18.33
2013-01-21,0,0,0,1,1.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,19.70
2013-01-22,0,0,0,0,1.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20.48
2013-01-24,0,0,0,1,1.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,19.45
2013-01-25,0,1,1,1,1.000000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,19.15
2013-01-28,1,0,2,0,0.333333,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.07
2013-01-30,1,0,0,0,1.000000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,21.33
2013-01-31,1,0,0,0,1.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,21.10
2013-02-05,0,0,0,0,1.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.78
2013-02-08,0,0,0,1,1.000000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,20.75
2013-02-19,1,0,2,1,0.500000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20.81
2013-02-20,0,0,0,1,1.000000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,20.30
2013-02-21,0,0,1,0,1.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,19.60
2013-02-22,2,0,0,2,0.600000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,19.12
2013-02-26,0,0,0,0,1.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20.85
2013-03-05,0,1,0,0,1.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,23.93
2013-03-07,0,1,0,0,0.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,23.74
2013-03-08,0,1,0,0,1.000000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,22.86
2013-03-12,0,1,0,0,1.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21.72
2013-03-13,0,1,0,1,0.000000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,22.09
2013-03-21,0,0,0,0,1.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,22.96
2013-03-22,0,1,0,0,1.000000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,23.03
2013-03-25,1,0,0,0,1.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,22.76
2013-03-26,0,0,0,1,1.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,22.14
2013-03-27,1,1,0,0,0.666667,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,22.15
2013-04-02,0,0,2,1,1.000000,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,20.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-10-31,0,0,0,0,1.000000,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,10.91
2018-11-01,0,1,0,0,1.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,10.83
2018-11-02,1,2,0,0,1.000000,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,11.09
2018-11-06,1,0,0,1,1.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,10.84
2018-11-07,0,0,0,1,1.000000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,10.81
2018-11-08,0,0,0,1,1.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,10.89
2018-11-09,0,1,0,1,0.500000,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,10.55
2018-11-12,0,0,0,1,1.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,10.56
2018-11-13,0,1,0,0,1.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,10.54
2018-11-14,0,1,0,1,1.000000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,10.44
2018-11-15,1,0,0,0,1.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,10.62
2018-11-20,1,0,0,0,1.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,10.57
2018-11-21,0,1,0,0,1.000000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,10.61
2018-11-23,0,1,1,1,1.000000,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,10.32
2018-11-27,0,0,0,1,0.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,10.18
2018-11-28,0,1,0,0,1.000000,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,10.28
2018-11-29,2,2,0,0,1.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,10.20
2018-11-30,0,0,1,1,1.000000,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,10.36
2018-12-03,0,0,0,1,1.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,10.59
2018-12-04,1,0,0,0,1.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,10.59
2018-12-11,0,1,0,1,1.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,10.23
2018-12-12,2,0,0,0,1.000000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,10.24
2018-12-13,0,1,0,0,1.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,10.39
2018-12-14,0,1,0,0,1.000000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,10.17
2018-12-17,0,1,0,1,1.000000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,10.29
2018-12-20,0,0,0,1,1.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,9.71
2018-12-24,1,2,0,0,0.333333,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,9.42
2018-12-25,0,0,1,0,1.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,9.34
2018-12-26,0,0,0,0,1.000000,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,9.30
2018-12-27,0,0,0,2,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,9.28